table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.pagination li {
    display: inline-block;
    padding-left: 0;
    color:white; 
}
a{
    color: white;
}

/* Style the table headers */
th {
    background-color: #161C32;
    color: white;
    padding: 10px;
    text-align: left;

}

/* Style the table rows */
tr:nth-child(even) {
    /* background-color: #161C32; */
    color: white;
}

tr:nth-child(odd){
    /* background-color: #161C32; */
    color: white;
}

tr:hover {
    background-color: #161C32
}
li:hover{
    background-color: #e88a34;
}
/* Style the table cells */
td,
th {
    padding: 50px;
    border-bottom: 1px solid #5a5959;

}

/* Make the table container responsive */
.table-container {
    overflow-x: auto;
}
td,
th {
    padding: 10px;
}

/* Define breakpoints for responsiveness */
@media (max-width: 600px) {

    th,
    td {
        padding: 5px;
        font-size: 12px;
    }
}

/* Make the table background transparent */
.responsive-table1 {
    background-color: transparent;
}